:root{
    --blue: #22577aff;
    --blueRGB: 34, 87, 122, 0.5;
    --light-blue: #38a3a5ff;
    --green: #2BFFD1;
    --purple: #985f99ff;
    --orange: #fe5f55ff;
}
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(31, 31, 31);
}
::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 15px;
}


/* Sidenav */
.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.sidenav #nav-holder{
    background-color: rgba(var(--blueRGB));
    height: fit-content;
    right: -20px;
    padding: 15px 25px 15px 0;
    border-radius: 20px;
    position: fixed;
}
.sidenav #nav-holder:last-of-type {
    margin-bottom: auto;
}
.sidenav #title-holder {
    margin-bottom: auto;
    align-self: center;
}
.sidenav a {
    text-align: right;
    right: 0;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--green, #985f99ff);
    display: block;
} 
.sidenav a:hover {
    color: var(--orange);
}
.sidenav a .dots {
    width: 17.5px;
    /* fill: var(--green); */
    fill: none;
    stroke: var(--green);
    stroke-width: 3px;
}
.sidenav a:hover .dots {
    fill: var(--orange);
    stroke: none;
}

/* Content */
.sections {
    display: flex;
    margin: 0;
    padding: 0;
}


#home {
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}
#home #title {
    position: absolute;
    font-size: 8vw;
    color: white;
    text-align: center;
    width: 99vw;
    margin-top: 0;
}

#home #subtitle {
    position: absolute;
    color: white;
    text-align: center;
    width: 99vw;
    margin-top: 100px;
}

#about {
    height: 100vh;
    background-color: gray;
}


/* Projects */
#projects {
    height: fit-content;
    background-color: var(--light-blue);
}

.projectsholder {
    position: relative;
    list-style: none;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    width: 100vw;

}
.projectItem {
    position: relative;
    display: flex;
    height: 60vh;
    width: 49.5vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 1s ease;
    align-items: flex-end;
    box-shadow: 0px 0px 15px 6px var(--blue) inset;
}


.projectsholder a {
    color: var(--green);
    text-decoration: none;
}
.projectsholder a:active {
    text-decoration: none;
}
.projectsholder a:visited {
    text-decoration: none;
}
.projectsholder h3 {
    font-size: 2vw;
    background-color: rgba(var(--blueRGB));
    margin-bottom: -15px;
    margin-left: -15px;
    padding: 8px 10px 20px 20px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 3px -2px 10px var(--blue)
}


#project1{

}
#project1:hover {

}
#project2 {
    background-image: url("../projecten/OAG/oag.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 0;
    background-position-y: 50%;
}
#project2:hover {
    background: linear-gradient(rgba(var(--blueRGB)), rgba(var(--blueRGB))), url("../projecten/OAG/oag.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 50%;
    background-position-x: -10%;
}
#project3 {
    background-image: url("../projecten/FeelingFeedback/feedback.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 52%;
    background-position-x: 103%;
    background-position-y: 50%;
}
#project3:hover {
    background: linear-gradient(rgba(var(--blueRGB)), rgba(var(--blueRGB))), url("../projecten/FeelingFeedback/feedback.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 58%;
    background-position-x: 110%;
    background-position-y: 55%;
}

#project4 {
    background-image: url("../projecten/ThigmoGarden/ThigmoGarden.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-x: -5%;
    background-position-y: 50%;
}
#project4:hover {
    background: linear-gradient(rgba(var(--blueRGB)), rgba(var(--blueRGB))), url("../projecten/ThigmoGarden/ThigmoGarden.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: -12%;
    background-position-y: 55%;
}




#contact {
    height: 50vh;
    background-color: var(--blue);
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}