:root{
    --blue: #22577aff;
    --light-blue: #38a3a5ff;
    --green: #2BFFD1;
    --purple: #985f99ff;
    --orange: #fe5f55ff;
}
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(31, 31, 31);
}
::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 15px;
}


/* Sidenav */
.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.sidenav #nav-holder{
    background-color: var(--blue, #22577aff);
    height: fit-content;
    right: -20px;
    padding: 15px 25px 15px 0;
    border-radius: 20px;
    position: fixed;
}
.sidenav #nav-holder:last-of-type {
    margin-bottom: auto;
}
.sidenav #title-holder {
    margin-bottom: auto;
    align-self: center;
}
.sidenav a {
    text-align: right;
    right: 0;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--green, #985f99ff);
    display: block;
} 
.sidenav a:hover {
    color: var(--orange);
}
.sidenav a .dots {
    width: 17.5px;
    /* fill: var(--green); */
    fill: none;
    stroke: var(--green);
    stroke-width: 3px;
}
.sidenav a:hover .dots {
    fill: var(--orange);
    stroke: none;
}


/* Content */
.sections {
    display: flex;
    margin: 0;
    padding: 0;
}

#home {
    height: 100vh;
    background-color: black;
}

#about {
    height: 100vh;
    background-color: gray;
}


/* Projects */
#projects {
    height: fit-content;
    background-color: black;
}

.projectsholder {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.projectItem {
    position: relative;
    height: 50vh;
    width: 49.5vw;
    padding: 0;
    margin: 0;
}

#project1{
    background-image: url("/media/Projects/Thigmo/ThigmoGarden.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 50%;
}
#project2 {
    background-image: url("/media/Projects/Thigmo/feedback.png");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-position-x: 100%;
}
#project3 {
    background-image: url("/media/Projects/Thigmo/oag.png");


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 50%;
}

#contact {
    height: 50vh;
    background-color: var(--blue);
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}